:root {
    --body_color: #ffffff;
    --main_color: #D9D9D9;
    --second_color: #7F7F7F;
    --third_color: #30FF04;
    --card_second: #747474;
    --button_push: #353535;
    --shadow: #000000;
    --feedback_color: #000000;
    --text_color: #30FF04;
    --s_text_color: #22C000;
    --white_text: #ffffff;
    --black_text: #000000;
    --star_color: #F6FF00;
}

nav {
    background-color: var(--main_color);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav h2 {
    font: 32px 'AnonymousPro_Regular';
}

nav img {
    margin: 0px 20px;
}

h2 {
    word-wrap: break-word;
    color: var(--black_text);
    font: 32px 'AnonymousPro_Regular';
}

a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.save_zone {
    margin: 10px 40px;
}

body {
    margin: 0px;
    background: url("./png/medium_pin.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--main_color);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer>h2 {
    font: 32px 'AnonymousPro_Regular';
}

.prod_fotos {
    display: flex;
    border-radius: 20px;
    border: solid 1px black;
    height: 400px;
    width: 600px;
    flex-flow: wrap;
}

.prod_fotos>img {
    height: 400px;
    width: 600px;
}

.felex {
    justify-content: center;
    display: flex;
}

.margin10px {
    margin: 10px;
}

.a_button {
    margin: 10px;
    width: 200px;
    height: 100px;
    background-color: var(--main_color);
    box-shadow: 2px 2px 4px var(--shadow);

    color: var(--s_text_color);
    text-decoration: none;
    font: 32px 'AnonymousPro_Regular';
    border-radius: 15px;

    transition: all 2s;
}

.padding10px {
    padding: 10px;
}

.column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.a_button:hover {
    transition: all 2s;
    background-color: var(--second_color);
}

.a_button:active {
    transition: all 0s;
    background-color: var(--button_push);
}

.center_row_alt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    max-width: 100%;
}

.stats {
    display: flex;
    height: 50%;
    width: 76%;
    max-width: 336px;
    border: solid 1px black;
    word-wrap: break-word;
    color: var(--black_text);
    background-color: var(--main_color);
    font: 20px 'AnonymousPro_Regular';
    border-radius: 15px;
    text-align: justify;

}

.comments {
    padding: 10px 5vw;
    word-wrap: break-word;
    box-sizing: border-box;
    height: 50%;
    width: 76%;
    color: var(--black_text);
    font: 20px 'AnonymousPro_Regular';
    display: flex;
    flex-direction: column;
    background-color: var(--main_color);
    border-radius: 15px;
    border: solid 1px black;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section>h2 {
    padding: 10px;
    border: solid 1px black;
    color: var(--black_text);
    border-radius: 15px;
    background-color: var(--main_color);
}

.comment {
    border-radius: 15px;
    padding: 10px;
    border: solid 1px black;
    background-color: var(--main_color);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.comment:nth-child(7n+1){
  background-color: #ff0000;
}
.comment:nth-child(7n+2){
  background-color: #FF4500;
}
.comment:nth-child(7n+3){
  background-color: #FFFF00;
}
.comment:nth-child(7n+4){
  background-color: #00FF00;
}
.comment:nth-child(7n+5){
  background-color: #00FFFF;
}
.comment:nth-child(7n+6){
  background-color: #00008B;
}
.comment:nth-child(7n+7){
  background-color: #800080;
}
.comment>h2{
    font: 24px 'AnonymousPro_Regular';
    background-color: var(--main_color);
    border-radius: 15px;
    border: solid 1px black;
    padding: 5px;
    text-align: center;
}
.comment>p {
    margin-bottom: 4px;
}

.column {
    display: flex;
    flex-direction: column;
}

.end {
    display: flex;

    justify-content: end;
}

img {
    border-radius: 15px;
}

input {
    width: 100%;
    margin: 10px;
    padding: 10px 0px;
    border-radius: 15px;
}
textarea{
    width: 100%;
}
.star {
    width: 52px;
    height: 48px;
    background-color: gold;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
}

@font-face {
    font-family: AnonymousPro_Regular;
    src: url(../front/AnonymousPro-Regular.ttf);
}

@media screen and (max-width:767px) {
    .felex {
        flex-direction: column;
    }

    .prod_fotos {
        width: 100%;
        height: 30vh;
        }

    .prod_fotos>img {
        width: 100%;
        height: 30vh;
    }

    nav {
        justify-content: space-evenly;
    }

    nav h2 {
        font: 20px 'AnonymousPro_Regular';
    }

    main {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }

    .comment {
        margin: 10px;
        flex-direction: column;
        width: 100%;
        
    }
    .comment>h2{
        font: 24px 'AnonymousPro_Regular';
        border-radius: 15px;
        border: solid 1px black;
        padding: 5px;
    }
    .comments {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 5vw;
    }

    .card_price {
        margin-right: 0px;
        height: 100px;
        width: 170px;
    }

    .center_row {
        flex-direction: column;
        margin: 15px;
    }

    input {
        width: 100%;
    }
    textarea{
        width:100%
    }
    .column_center {
        width: 100%;
        margin: 15px;
    }

    .stats {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 260px;
        width: 100%;
    }

    .a_button {
        margin: 10px 0px;
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .prod_fotos>div {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 200px;
    }

    .felex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .margin10px {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:1023px) {
    nav {
        justify-content: space-evenly;
    }

    .felex {
        flex-direction: column;
    }

    .stats {
        width: 100%;
        max-width: 100%;
    }
}


@media screen and (min-width:1921px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        max-width: 1920px;
    }

    header {
        width: 100%;
    }
}
